<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>Spring LDAP Home Page</title>
	<h1>Welcome!</h1>
</head>

<body>

	<form method="post" th:action="@{/unsecuregreetings}">
		<div>
			<label for="userTxt">User Name:</label>
			<input id="userTxt" type="text" name="userName">
		</div>
		<p> <input type="submit" value="Submit To Greet!" /> </p>
	</form>

</body>

</html>